<header class="header fixed-top">
  <app-header></app-header>
</header>

<div class="dis-color">
  <div class="resources">
    <h6>EXPLORE ANGULAR RESOURCES</h6>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 resou">
      <a href="/development" class="btn-text"><button type="button"
          class="btn btn-primary btn-lg ">DEVELOPMENT</button></a>
      <a href="/education" class="btn-text"><button type="button" class="btn  btn-lg">EDUCATION</button></a>
      <a href="/community" class="btn-text"><button type="button" class="btn btn-primary btn-lg">COMMUNITY</button></a>
    </div>
    <div class="col-12 showcase">
      <div class="ides">
        <h1>Community Curations</h1>
      </div>
      <div class="Amexio">
        <a href="">
          <h2>Angular Builders</h2>
          <p>A collection of Angular builders for your Angular projects</p>
        </a>
        <a href="">
          <h2>Angular Conferences and Angular Camps in Moscow, Russia.</h2>
          <p>Angular-RU Community on GitHub is a single entry point for all resources, chats, podcasts and meetups for
            Angular in Russia.</p>
        </a>
        <a href="">
          <h2>Angular inDepth</h2>
          <p>Peer-reviewed Angular articles and tutorials.</p>
        </a>
        <a href="">
          <h2>Angular Nation</h2>
          <p>Angular Nation is a free private network created for Angular developers to network, collaborate, and ask
            questions.</p>
        </a>
        <a href="">
          <h2>Angular Subreddit</h2>
          <p>An Angular-dedicated subreddit.</p>
        </a>
        <a href="">
          <h2>API Based CMS with Butter</h2>
          <p>Add API Based CMS to your Angular app</p>
        </a>
        <a href="">
          <h2>Catalog of Angular Components &amp; Libraries</h2>
          <p>A community index of components and libraries maintained on GitHub</p>
        </a>
        <a href="">
          <h2>DEV Community</h2>
          <p>Read and share content and chat about Angular on DEV Community.</p>
        </a>
        <a href="">
          <h2>Made with Angular</h2>
          <p>A showcase of web apps built with Angular.</p>
        </a>
      </div>
      <div class="ides">
        <h1>Podcasts</h1>
      </div>
      <div class="Amexio">
        <a href="">
          <h2>Adventures in Angular</h2>
          <p>Adventures in Angular is a weekly podcast dedicated to the Angular platform and related technologies,
            tools, languages, and practices.</p>
        </a>
        <a href="">
          <h2>Angular Rocks</h2>
          <p>Podcast for those who want to know more about Angular 🚀</p>
        </a>
        <a href="">
          <h2>AngularAir</h2>
          <p>Weekly video podcast hosted by Jeff Whelpley with all the latest and greatest happenings in the wild world
            of Angular.</p>
        </a>
        <a href="">
          <h2>Happy Angular Podcast</h2>
          <p>A weekly German podcast for Angular on the go</p>
        </a>
        <a href="">
          <h2>NgRuAir</h2>
          <p>Russian language video podcast about Angular.</p>
        </a>
        <a href="">
          <h2>The Deep Dive</h2>
          <p>The advanced web development podcast about Angular, RxJS, TypeScript and other technologies. English, audio
            only.</p>
        </a>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <app-footer></app-footer>
</footer>