<header class="header fixed-top">
  <app-header></app-header>
</header>

<div class="dis-color">
  <div class="features">
    <h6>FEATURES & BENEFITS</h6>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 cross">
      <h3>CROSS PLATFORM</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 cross-img">
      <img src="../../../../assets/img/cross.svg">
    </div>
  </div>
  <div class="row web-demo">
    <div class="col-4 justify-content-end">
      <h4>Progressive Web Apps</h4>
      <h6>Use modern web platform capabilities to<br> deliver app-like experiences. High<br> performance, offline, and
        zero-step<br> installation.</h6>
    </div>
    <div class="col-4">
      <h4>Native</h4>
      <h6>Build native mobile apps with strategies<br> from Cordova, Ionic, or NativeScript.
      </h6>
    </div>
    <div class="col-4 justify-content-start">
      <h4> Desktop</h4>
      <h6>Create desktop-installed apps across<br> Mac, Windows, and Linux using the same<br> Angular methods you've
        learned for the<br> web plus the ability to access native OS<br> APIs.</h6>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12 cross">
      <h3>SPEED AND PERFORMANCE</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 cross-img">
      <img src="../../../../assets/img/cross.svg">
    </div>
  </div>
  <div class="row web-demo">
    <div class="col-4 justify-content-end">
      <h4>Code Generation</h4>
      <h6>Angular turns your templates into code<br> that's highly optimized for today's<br> JavaScript virtual
        machines, giving you all<br> the benefits of hand-written code with the<br> productivity of a framework.</h6>
    </div>
    <div class="col-4">
      <h4>Universal</h4>
      <h6>Serve the first view of your application on<br> Node.js®, .NET, PHP, and other servers for<br> near-instant
        rendering in just HTML and<br> CSS. Also paves the way for sites that<br> optimize for SEO.
      </h6>
    </div>
    <div class="col-4 justify-content-start">
      <h4>Code Splitting</h4>
      <h6>Angular apps load quickly with the new<br> Component Router, which delivers<br> automatic code-splitting so
        users only<br> load code required to render the view they<br> request.</h6>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12 cross">
      <h3>PRODUCTIVITY</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 cross-img">
      <img src="../../../../assets/img/cross.svg">
    </div>
  </div>
  <div class="row web-demo">
    <div class="col-4 justify-content-end">
      <h4>Templates</h4>
      <h6>Quickly create UI views with simple and<br> powerful template syntax.</h6>
    </div>
    <div class="col-4">
      <h4>Angular CLI</h4>
      <h6>Command line tools: start building fast,<br> add components and tests, then instantly<br> deploy.
      </h6>
    </div>
    <div class="col-4 justify-content-start">
      <h4>IDEs</h4>
      <h6>Get intelligent code completion, instant<br> errors, and other feedback in popular<br> editors and IDEs.</h6>
    </div>
  </div>
  <hr>

  <div class="col-12 cross">
    <h3>FULL DEVELOPMENT STORY</h3>
  </div>
  <div class="row">
    <div class="col-12 cross-img">
      <img src="../../../../assets/img/cross.svg">
    </div>
  </div>
  <div class="row web-demo">
    <div class="col-4 justify-content-end">
      <h4>Testing</h4>
      <h6>With Karma for unit tests, you can know if<br> you've broken things every time you save.</h6>
    </div>
    <div class="col-4">
      <h4>Animation</h4>
      <h6>Create high-performance, complex<br> choreographies and animation timelines<br> with very little code through
        Angular's<br>intuitive API.
      </h6>
    </div>
    <div class="col-4 justify-content-start">
      <h4>Accessibility</h4>
      <h6>Create accessible applications with ARIA-<br>enabled components, developer guides,<br> and built-in a11y test
        infrastructure.</h6>
    </div>
  </div>
  <div class="sub">
    <button type="submit" class="btn btn-primary btn-lg rounded-pill"><a href="">GET STARTED</a>
    </button>
  </div>
  
</div>

<footer class="footer">
  <app-footer></app-footer>
</footer>