<div class="container-fluid mini-header d-none d-lg-block">
    <div class="row ">
        <div class="col-7">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" routerLink="/"><img src="../../../assets/img/logo-nav@2x.png"></a>
                <div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a nav-link routerLink="/features" routerLinkActive="active">FEATURES</a>
                        </li>
                        <li class="nav-item">
                            <a nav-link routerLink="/docs" routerLinkActive="active">DOCS</a>
                        </li>
                        <li class="nav-item">
                            <a nav-link routerLink="/resources" routerLinkActive="active">RESOURCES</a>
                        </li>
                        <li class="nav-item">
                            <a nav-link routerLink="/events" routerLinkActive="active">EVENTS</a>
                        </li>
                        <li class="nav-item">
                            <a nav-link routerLink="/blog" routerLinkActive="active">BLOG</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-5">

            <div class="d-flex">
                <button type="submit" class="btn btn-primary btn-lg rounded-pill">Search
                </button>
                <div class="min-icons rgbor"> <a href="#" (click)="toggleTheme()"><i class="fas fa-moon "></i></a></div>
                <div class="min-icons"><a href="https://twitter.com/angular"><i class="fab fa-twitter"></i></a></div>
                <div class="min-icons"><a href="https://github.com/angular/angular"><i class="fab fa-github"></i></a>
                </div>
                <div class="min-icons"><a href="https://www.youtube.com/angular"><i class="fab fa-youtube"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>