<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/docs">
        <h2>Introduction</h2>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/docs/getting">
        Getting Started <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/docs/understanding">
        Understading Anguar <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        Developer Guides <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        Best Practices <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        Angular Tools <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        Tutorials <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        Release Informtion <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        Reference <mat-icon fxFlex fxLayout="row" fxLayoutAlign="flex-end"><i class="fas fa-angle-right"></i></mat-icon>
    </a>
    
    <mat-divider></mat-divider>
    <button type="submit" class="btn btn-primary"><a href="">stable(v12.1.0)</a>
    </button>

</mat-nav-list>