<div class="background-half dis-color">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="moderan-img"><img src="../../../assets/img/Angular_full_color_logo.svg.png"></div>
            </div>
            <div class="col-6 moderan-text">
                <h1>
                    The modern web</h1>
                <h1>developer's platform</h1>
                <button type="submit" class="btn btn-primary btn-lg rounded-pill"><a href="">GET STARTED</a>
                </button>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="develop-img"><img src="../../../assets/img/responsive-framework.svg"></div>
        </div>
        <div class="col-7">
            <div class="develop-text">
                <h3>DEVELOP ACROSS ALL PLATFORMS</h3><br>
                <h6>Learn one way to build applications with Angular and <br>reuse your code and abilities to build apps
                    for any<br> deployment target. For web, mobile web, native mobile<br> and native desktop.</h6>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container ">
    <div class="row">
        <div class="col-7">
            <div class="speed-text">
                <h3>SPEED & PERFORMANCE</h3>
                <h6>Achieve the maximum speed possible on the Web<br> Platform today, and take it further, via Web
                    Workers<br> and server-side rendering.</h6>
                <h6>Angular puts you in control over scalability. Meet huge<br> data requirements by building data
                    models on RxJS,<br> Immutable.js or another push-model. </h6>
            </div>
        </div>
        <div class="col-5 speed-img"><img src="../../../assets/img/achieve.svg"></div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-5 incr-img"><img src="../../../assets/img/incr.svg"></div>
        <div class="col-7 incr-text">
            <h3>INCREDIBLE TOOLING</h3>
            <h6>Build features quickly with simple, declarative<br> templates. Extend the template language with
                your<br> own components and use a wide array of existing<br> components. Get immediate Angular-specific
                help and<br> feedback with nearly every IDE and editor. All this<br> comes together so you can focus on
                building amazing<br> apps rather than trying to make the code work.</h6>
        </div>

    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-5 loved-text">
            <h3>LOVED BY MILLIONS</h3>
            <h6>From prototype through global deployment, Angular<br> delivers the productivity and scalable
                infrastructure<br> that supports Google's largest applications.
            </h6>
        </div>
        <div class="col-7 loved-img"><img src="../../../assets/img/loved.svg"></div>
    </div>
</div>

<div class="try">
    <a href=""><img src="../../../assets/img/try.svg" height="70" width="70"></a>
    <div class="try-text">
        <h3><a href="">TRY IT NOW</a></h3>
        <h6><a href="">Explore Angular's capabilities with a ready-made<br>sample app.No setup required.</a></h6>
    </div>
</div>