    <div class="container-fluid footer text">
        <div class="container row flex-lg-nowrap">
            <div class="col one-section">
                <h5 class="mb-3">RESOURCES</h5>
                <ul>
                    <li><a routerLink="">About</a></li>
                    <li><a routerLink="">Resource Listing</a></li>
                    <li><a routerLink="">Press Kit</a></li>
                    <li><a routerLink="">Blog</a></li>
                    <li><a routerLink="">Usage Analytics</a></li>

                </ul>
            </div>
            <div class="col one-section">
                <h5 class="mb-3">HELP</h5>
                <ul>
                    <li><a routerLink="">Stack Overflow</a></li>
                    <li><a routerLink="">Join Discord</a></li>
                    <li><a routerLink="">Gitter</a></li>
                    <li><a routerLink="">Report Issues</a></li>
                    <li><a routerLink="">Code of Conduct</a></li>
                </ul>
            </div>
            <div class="col one-section">
                <h5 class="mb-3">COMMUNITY</h5>
                <ul>
                    <li><a routerLink="">Events</a></li>
                    <li><a routerLink="">Meetups</a></li>
                    <li><a routerLink="">Twitter</a></li>
                    <li><a routerLink="">GitHub</a></li>
                    <li><a routerLink="">Contribute</a></li>
                </ul>
            </div>
            <div class="col one-section">
                <h5 class="mb-3">LANGUAGES</h5>
                <ul>
                    <li><a routerLink="">Español</a></li>
                    <li><a routerLink="">简体中文版</a></li>
                    <li><a routerLink="">正體中文版</a></li>
                    <li><a routerLink="">日本語版</a></li>
                    <li><a routerLink="">한국어</a></li>
                </ul>
            </div>

        </div>
        <div class="row bottom-line text-center ">
            <span>Super-powered by Google ©2010-2021.</span>
            <span>Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</span>
            <span>Version 12.0.5-local+sha.a75874c385</span>
        </div>

    </div>
