<header class="header fixed-top">
    <app-header></app-header>
  </header>
  
  <div class="dis-color">
    <div class="events">
      <h6>EVENTS</h6>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 where">
        <h1>Where we'll be presenting:</h1><br>
        <p>We don't have any upcoming speaking engagements at the moment.</p><br>
        <p>Until something comes up, make sure you check our <a href="https://www.youtube.com/angular"> YouTube channel </a>and follow us on <a href="https://twitter.com/angular">social media</a>.</p>
        <h6>If you want us to be part of your event reach out on <a href=""> devrel@angular.io!</a></h6><br>
        <h1>Where we already presented:</h1>
      </div>
    </div>
    <div class="">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        
      
        <!-- Name Column -->
        <ng-container matColumnDef="demo-name">
          <th mat-header-cell *matHeaderCellDef> EVENT </th>
          <td mat-cell *matCellDef="let element" class="element-name"><a href="">{{element.name}}</a>  </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="demo-weight">
          <th mat-header-cell *matHeaderCellDef> LOCATION </th>
          <td mat-cell *matCellDef="let element" class="element-weight"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="demo-symbol">
          <th mat-header-cell *matHeaderCellDef> DATE </th>
          <td mat-cell *matCellDef="let element" class="element-symbol"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
    </div>
  </div>
  
  
  <footer class="footer">
    <app-footer></app-footer>
  </footer>
  