<header class="header fixed-top">
  <app-header></app-header>
</header>

<div class="dis-color">
  <div class="resources">
    <h6>EXPLORE ANGULAR RESOURCES</h6>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 resou">
      <a href="/development" class="btn-text"><button type="button"
          class="btn btn-primary btn-lg ">DEVELOPMENT</button></a>
      <a href="/education" class="btn-text"><button type="button" class="btn  btn-lg">EDUCATION</button></a>
      <a href="/community" class="btn-text"><button type="button" class="btn btn-primary btn-lg">COMMUNITY</button></a>
    </div>
    <div class="col-12 showcase">
      <div class="ides">
        <h1>Books</h1>
      </div>
      <div class="Amexio">
        <a href="">
          <h2>Angular Router</h2>
          <p>This book is a comprehensive guide to the Angular router written by its designer. The book explores the
            library in depth, including the mental model, design constraints, subtleties of the API.</p>
        </a>
        <a href="">
          <h2>Angular-Buch (German)</h2>
          <p>The first German book about Angular. It gives you a detailed practical overview of the key concepts of the
            platform. In each chapter a sample application is built upon with a new Angular topic. All sources are
            available on GitHub.</p>
        </a>
        <a href="">
          <h2>Architecting Angular Applications with NGRX</h2>
          <p>How to build Angular applications using NGRX</p>
        </a>
        <a href="">
          <h2>Becoming a Ninja with Angular</h2>
          <p>This ebook will help you getting the philosophy of the framework: what comes from 1.x, what has been
            introduced and why</p>
        </a>
        <a href="">
          <h2>Developing with Angular</h2>
          <p>Practical journey with Angular framework, ES6, TypeScript, webpack and Angular CLI.</p>
        </a>
        <a href="">
          <h2>Essential Angular</h2>
          <p>The book is a short, but at the same time, fairly complete overview of the key aspects of Angular written
            by its core contributors Victor Savkin and Jeff Cross. The book will give you a strong foundation. It will
            help you put all the concepts into right places. So you will get a good understanding of why the framework
            is the way it is.</p>
        </a>
        <a href="">
          <h2>How to integrate ButterCMS into Angular 2+ Ap</h2>
          <p>Integrate a Headless CMS into your Angular App, create blog posts and pages</p>
        </a>
        <a href="">
          <h2>Learning Angular - Third Edition</h2>
          <p>A no-nonsense beginner's guide to building web applications with Angular and TypeScript</p>
        </a>
        <a href="">
          <h2>ng-book</h2>
          <p>The in-depth, complete, and up-to-date book on Angular. Become an Angular expert today.</p>
        </a>
        <a href="">
          <h2>NgRx: Reactive State Management for Angular</h2>
          <p>Comprehensive learning resource on building Angular apps with NgRx</p>
        </a>
        <a href="">
          <h2>O'Reilly Media</h2>
          <p>More than 15 books from O'Reilly about Angular</p>
        </a>
        <a href="">
          <h2>Packt Publishing</h2>
          <p>More than 10 books from Packt Publishing about Angular</p>
        </a>
        <a href="">
          <h2>Reactive State for Angular with NgRx</h2>
          <p>Learn how to build a Reactive Application with Ngrx and Angular</p>
        </a>
        <a href="">
          <h2>RxJS Ultimate</h2>
          <p>A free book that covers all facets of working with Rxjs from your first Observable to how to make your code
            run at optimal speed with Schedulers.</p>
        </a>
        <a href="">
          <h2>Testing Angular</h2>
          <p>A Guide to Robust Angular Applications (free online book and e-book)</p>
        </a>
        <a href="">
          <h2>The Angular Guide by Wishtack (Français)</h2>
          <p>The free, open-source and up-to-date Angular guide. This pragmatic guide is focused on best practices and
            will drive you from scratch to cloud.</p>
        </a>
      </div>
      <div class="ides">
        <h1>Workshops &amp; Onsite Training</h1>
      </div>
      <div class="Amexio">
        <a href="">
          <h2>Accelebrate</h2>
          <p>Customized, Instructor-Led Angular Training</p>
        </a>
        <a href="">
          <h2>Angular Academy (Canada)</h2>
          <p>Angular Academy is a two day hands-on public course given in-person across Canada!</p>
        </a>
        <a href="">
          <h2>Angular Architects (German and English)</h2>
          <p>In-depth training and consulting with focus on enterprise-scale Angular applications and architecture
            (remote, on-site company trainings, and public workshops). We also blog about these topics on a regular
            basis.</p>
        </a>
        <a href="">
          <h2>Angular Boot Camp</h2>
          <p>Angular Boot Camp covers introductory through advanced Angular topics. It includes extensive workshop
            sessions, with hands-on help from our experienced developer-trainers. We take developers or teams from the
            beginnings of Angular understanding through a working knowledge of all essential Angular features.</p>
        </a>
        <a href="">
          <h2>Angular Hands-on Course (Israel)</h2>
          <p>Learn from 500Tech, an Angular consultancy in Israel. This course was built by an expert developer, who
            lives and breathes Angular, and has practical experience with real world large scale Angular apps.</p>
        </a>
        <a href="">
          <h2>Angular Training</h2>
          <p>Angular Training teaches Angular on-site all over the world. Also provides consulting and mentoring.</p>
        </a>
        <a href="">
          <h2>Angular Trainings (French)</h2>
          <p>Angular trainings delivered by Zenika (FRANCE)</p>
        </a>
        <a href="">
          <h2>Angular.de (German)</h2>
          <p>Onsite Angular Training delivered by the greatest community in the german speaking area in Germany, Austria
            and Switzerland. We also regularly post articles and tutorials on our blog.</p>
        </a>
        <a href="">
          <h2>Angular.Schule (German)</h2>
          <p>Angular onsite training and public workshops in Germany from the authors of the German Angular book. We
            also regularly post articles and videos on our blog (in English and German language).</p>
        </a>
        <a href="">
          <h2>Chariot Solutions</h2>
          <p>Private Angular Training and Mentoring</p>
        </a>
        <a href="">
          <h2>Formation Angular (French)</h2>
          <p>Angular trainings delivered by Human Coders (France)</p>
        </a>
        <a href="">
          <h2>Formation JavaScript (French)</h2>
          <p>Angular onsite training in Paris (France). Monthly Angular workshops and custom onsite classes. We are
            focused on Angular, so we are always up to date.</p>
        </a>
        <a href="">
          <h2>Learn Javascript (Russian)</h2>
          <p>Complete Angular online course. Constantly updating. Real-time webinars with immediate feedback from the
            teacher.</p>
        </a>
        <a href="">
          <h2>ng-course (Israel)</h2>
          <p>4 day in-depth Angular training in Israel</p>
        </a>
        <a href="">
          <h2>Ninja Squad</h2>
          <p>OnSite Training From the Authors of "Become A Ninja with Angular"</p>
        </a>
        <a href="">
          <h2>StrongBrew</h2>
          <p>Angular and RxJS trainings, Code Reviews and consultancy. We help software engineers all over the world to
            create better web-applications...</p>
        </a>
        <a href="">
          <h2>TheCodeCampus (German)</h2>
          <p>Basic and Advanced training across Europe in German</p>
        </a>
        <a href="">
          <h2>Thoughtram</h2>
          <p>Trainings &amp; Code Reviews. We help people to get a deep understanding of different technologies through
            trainings and code reviews. Our services can be arranged online, making it possible to join in from anywhere
            in the world, or on-site to get the best experience possible.</p>
        </a>
        <a href="">
          <h2>We Are One Sàrl</h2>
          <p>Onsite Angular Training delivered by We Are One Sàrl in Switzerland</p>
        </a>
        <a href="">
          <h2>Web Age Solutions</h2>
          <p>Virtual and in-person training in Canada and the US</p>
        </a>
        <a href="">
          <h2>Webucator</h2>
          <p>Customized in-person instructor-led Angular training for private groups and public online instructor-led
            Angular classes.</p>
        </a>
        <div class="ides">
          <h1>Online Training</h1>
        </div>
        <div class="Amexio">
          <a href="">
            <h2>Academia Binaria (español)</h2>
            <p>Spanish language Angular articles and information</p>
          </a>
          <a href="">
            <h2>Angular Concepts, Code and Collective Wisdom</h2>
            <p>Learn the core concepts, play with the code, become a competent Angular developer</p>
          </a>
          <a href="">
            <h2>Angular Enterprise Playbook</h2>
            <p>Learn advanced Angular best practices for enterprise teams, created by Nrwl.io.</p>
          </a>
          <a href="">
            <h2>Angular in Action: Start From Scratch (正體中文)</h2>
            <p>Online video course in Chinese for newbies who need to learning from the scratch in Chinese. It's
              covering Angular, Angular CLI, TypeScript, VSCode, and some must known knowledge of Angular development.
            </p>
          </a>
          <a href="">
            <h2>Angular Pro Screencast</h2>
            <p>Youtube Channel. Online videos in English and Russian providing in-depth coverage of the Angular advanced
              topics.</p>
          </a>
          <a href="">
            <h2>angular.love (Polski)</h2>
            <p>Polish language Angular articles and information</p>
          </a>
          <a href="">
            <h2>Angular: Essential Training</h2>
            <p>This course introduces you to the essentials of this "superheroic" framework, including declarative
              templates, two-way data binding, and dependency injection.</p>
          </a>
          <a href="">
            <h2>AngularFirebase.com</h2>
            <p>Video lessons covering progressive web apps with Angular, Firebase, RxJS, and related APIs.</p>
          </a>
          <a href="">
            <h2>CodeSchool: Accelerating Through Angular</h2>
            <p>Create the future of web applications by taking Angular for a test drive.</p>
          </a>
          <a href="">
            <h2>DotNetTricks</h2>
            <p>Online videos and training for Angular.</p>
          </a>
          <a href="">
            <h2>Dyma (French)</h2>
            <p>Learn Angular and all its ecosystem (Material, Flex-layout, Ngrx and more) from scratch.</p>
          </a>
          <a href="">
            <h2>Egghead.io</h2>
            <p>Angular Fundamentals and advanced topics focused on Redux Style Angular Applications</p>
          </a>
          <a href="">
            <h2>Frontend Masters</h2>
            <p>Build Web Apps with Angular - recorded video content</p>
          </a>
          <a href="">
            <h2>Learn Angular (francais)</h2>
            <p>French language Angular content.</p>
          </a>
          <a href="">
            <h2>Loiane Training (Português)</h2>
            <p>Free Angular course in Portuguese.</p>
          </a>
          <a href="">
            <h2>MDB Angular Boilerplate</h2>
            <p>Angular CRUD application starter with NgRx state management, Firebase backend and installation guide.</p>
          </a>
          <a href="">
            <h2>Pluralsight</h2>
            <p>Hundreds of Angular courses for all skill levels</p>
          </a>
          <a href="">
            <h2>Udemy</h2>
            <p>Angular courses hosted by Udemy</p>
          </a>
          <a href="">
            <h2>Ultimate Angular</h2>
            <p>Online courses providing in-depth coverage of the Angular ecosystem, AngularJS, Angular and TypeScript,
              with functional code samples and a full-featured seed environment. Get a deep understanding of Angular and
              TypeScript from foundation to functional application, then move on to advanced topics with Todd Motto and
              collaborators.</p>
          </a>
          <a href="">
            <h2>Upgrading AngularJS</h2>
            <p>The world's most comprehensive, step-by-step course on using best practices and avoiding pitfalls while
              migrating from AngularJS to Angular.</p>
          </a>
          <a href="">
            <h2>web.dev/angular</h2>
            <p>Build performant and progressive Angular applications.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <app-footer></app-footer>
</footer>